/* Body */

body {
    background-color: aqua;
    height: 100%;
}

/* Main */
.Main {
   flex-flow: ;
    height: 100%;
}

/* Title Box */

.heading {
    display: flex;
    flex-flow: column;
    height: 100%;
    order: 1;

}


/* Pic Holder Div */

.picHolder {
    display: flex;
    align-items: flex-start;
    flex-flow: wrap;
    min-width: 500px;
    order: 2;
    



}


/* Cat images */

.cat1 {
    flex:1;
    order: 2;
    padding: 5px;

}

.cat2{
    flex:1;
    order: 3;
    padding: 5px;
}

.cat3{
    flex:1;
    order: 2;
    padding: 5px;
}

.cat4 {
    flex:1;
    order: 3;
    padding: 5px;
}

.cat5 {
    flex:1;
    order: 2;
    padding: 5px;
}

.cat6 {
    flex:1;
    order: 3;
    padding: 5px;
}

.cat7 {
    flex:1;
    order: 2;
    padding: 5px;
}

.cat8 {
    flex:1;
    order: 3;
    padding: 5px;
}

.cat9 {
    flex:1;
    order: 2;
    padding: 5px;
}

.cat10 {
    flex:1;
    order: 3;
    padding: 5px;
}